In [2]:
#1.kutuphaneler
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

#2.veri onisleme
#2.1.veri yukleme
veriler = pd.read_csv('veriler.csv')
veriler['yas'] = veriler['yas'].fillna(28)
#pd.read_csv("veriler.csv")
#test
#print(veriler)
#------------------------------
#encoder: Kategorik -> Numeric
ulke = veriler.iloc[:,0:1].values
Yas = veriler.iloc[:,1:4].values
#print(ulke)

from sklearn import preprocessing


le = preprocessing.LabelEncoder() ####0-1-2 şeklinde ayırıyor 3 farklı ülkeyi
ulke[:,0] = le.fit_transform(veriler.iloc[:,0])

#print(ulke)


ohe = preprocessing.OneHotEncoder()
ulke = ohe.fit_transform(ulke).toarray() ####3 farklı ülkeyi sadece 0-1 kullanarak şekillendiriyor. 
#print(ulke)
#---------------------------------------
#encoder: Kategorik -> Numeric
c = veriler.iloc[:,-1:].values
#print(c)


from sklearn import preprocessing

le = preprocessing.LabelEncoder() #0-1 dönüşümünü yapıyor

c[:,-1] = le.fit_transform(veriler.iloc[:,-1])

#print(c)


ohe = preprocessing.OneHotEncoder() #dummy variable için yazılmış bir kod 
c = ohe.fit_transform(c).toarray()
#print(c)
#-----------------------------------------------

#numpy dizileri dataframe donusumu
sonuc = pd.DataFrame(data=ulke, index = range(22), columns = ['fr','tr','us'])
#print(sonuc)

sonuc2 = pd.DataFrame(data=Yas, index = range(22), columns = ['boy','kilo','yas'])
#print(sonuc2)

cinsiyet = veriler.iloc[:,-1].values
#print(cinsiyet)

sonuc3 = pd.DataFrame(data = c[:,:1] , index = range(22), columns = ['cinsiyet'])
#print(sonuc3)



#dataframe birlestirme islemi
s=pd.concat([sonuc,sonuc2], axis=1)
#print(s)

s2=pd.concat([s,sonuc3], axis=1)
#print(s2)

#verilerin egitim ve test icin bolunmesi
from sklearn.model_selection import train_test_split

x_train, x_test,y_train,y_test = train_test_split(s,sonuc3,test_size=0.33, random_state=0)

from sklearn.linear_model import LinearRegression

regressor = LinearRegression() #classdan bir obje tanımladık 
regressor.fit(x_train,y_train) # y_traini öğren dedim, x_traini kullanarak
y_pred = regressor.predict(x_test)
#boy tahmini yapacağımi o yüzden x_train de boy değerleri olmayacak, y_trainde bulunacak 
boy = s2.iloc[:,3:4].values
#print(boy)
sol = s2.iloc[:,:3]
sag= s2.iloc[:,4:]
veri = pd.concat([sol,sag], axis=1) #boy olmadan oluşturulan df 

#bağımlı değişkenim boy, o yüzden verileri kullanarak boy u tahmin et diyorum 
x_train, x_test,y_train,y_test = train_test_split(veri,boy,test_size=0.33, random_state=0)


from sklearn.linear_model import LinearRegression
r2 = LinearRegression() 
r2.fit(x_train,y_train) 
y_pred = r2.predict(x_test)

y_pred





import statsmodels.api as sm # modelin ve modeldeki değişkenlerin başarısı ile ilgili bir kütüphane 
#geri eleme yöntemini kullanıyoruz. hangi değişkenin p valuesi yüksekse onu atmaya çalışacağız
#denklemimizde olan en başta olan b0 sabit değeri kodlarda yok. şuan yapmaya çalıştığımı o 1leri eklemek 
X = np.append(arr=np.ones((22,1)).astype(int), values=veri, axis=1)

X_l = veri.iloc[:,[0,1,2,3,4,5]].values # aslında kolonların hepsini aldı, ama böyle yazmasının sebebi daha sonradan elemek istediği kolonları silecek
model = sm.OLS(boy,X_l).fit() # boy kolonunu merak ediyoruz ve bütün kolonları verdik. boy bağımlı değişken 
#OLS istatiksel değerlerin oluşumunu sağlıyor
print(model.summary())  #sonuçlara baktığımızda x5(yani beşinci colon) in p valuesi 0.05 den yüksek
# bu sebeple onu elemek zorundayız. çünkü kullandığımız eleme algoritması bize bunu söylüyor 


X_l = veri.iloc[:,[0,1,2,3,5]].values 
model = sm.OLS(boy,X_l).fit() 
print(model.summary()) 
# 5.veri kalabilir. 0.031 değeri 0.05 değerinden küçük olduğu için kalabilir. ancak silmek isterseniz silebilirsiniz. 


X_l = veri.iloc[:,[0,1,2,3]].values 
model = sm.OLS(boy,X_l).fit() 
print(model.summary()) #P>|t| Değeri 0.000 oldu

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.886
Model:                            OLS   Adj. R-squared:                  0.850
Method:                 Least Squares   F-statistic:                     24.84
Date:                Wed, 07 Jun 2023   Prob (F-statistic):           5.19e-07
Time:                        14:49:57   Log-Likelihood:                -73.892
No. Observations:                  22   AIC:                             159.8
Df Residuals:                      16   BIC:                             166.3
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1           113.6779      8.074     14.080      0.000      96.563     130.793
x2           108.1938      5.644     19.169      0.000      96.228     120.159
x3           104.1833      8.820     11.812      0.000      85.485     122.881
x4             0.9148      0.120      7.638      0.000       0.661       1.169
x5             0.1034      0.219      0.471      0.644      -0.362       0.568
x6           -10.5184      5.005     -2.101      0.052     -21.129       0.092
==============================================================================
Omnibus:                        1.118   Durbin-Watson:                   2.771
Prob(Omnibus):                  0.572   Jarque-Bera (JB):                0.671
Skew:                           0.423   Prob(JB):                        0.715
Kurtosis:                       2.878   Cond. No.                         511.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.884
Model:                            OLS   Adj. R-squared:                  0.857
Method:                 Least Squares   F-statistic:                     32.47
Date:                Wed, 07 Jun 2023   Prob (F-statistic):           9.32e-08
Time:                        14:49:57   Log-Likelihood:                -74.043
No. Observations:                  22   AIC:                             158.1
Df Residuals:                      17   BIC:                             163.5
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1           115.6583      6.734     17.175      0.000     101.451     129.866
x2           109.0786      5.200     20.978      0.000      98.108     120.049
x3           106.5445      7.090     15.026      0.000      91.585     121.504
x4             0.9405      0.104      9.029      0.000       0.721       1.160
x5           -11.1093      4.733     -2.347      0.031     -21.096      -1.123
==============================================================================
Omnibus:                        0.871   Durbin-Watson:                   2.719
Prob(Omnibus):                  0.647   Jarque-Bera (JB):                0.459
Skew:                           0.351   Prob(JB):                        0.795
Kurtosis:                       2.910   Cond. No.                         397.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.847
Model:                            OLS   Adj. R-squared:                  0.821
Method:                 Least Squares   F-statistic:                     33.16
Date:                Wed, 07 Jun 2023   Prob (F-statistic):           1.52e-07
Time:                        14:49:57   Log-Likelihood:                -77.131
No. Observations:                  22   AIC:                             162.3
Df Residuals:                      18   BIC:                             166.6
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1           119.8136      7.265     16.491      0.000     104.550     135.077
x2           109.8084      5.804     18.919      0.000      97.615     122.002
x3           114.4212      6.984     16.382      0.000      99.747     129.095
x4             0.7904      0.092      8.595      0.000       0.597       0.984
==============================================================================
Omnibus:                        2.925   Durbin-Watson:                   2.855
Prob(Omnibus):                  0.232   Jarque-Bera (JB):                1.499
Skew:                           0.605   Prob(JB):                        0.473
Kurtosis:                       3.416   Cond. No.                         369.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [81]:
X

array([[  1.,   0.,   1.,   0.,  30.,  10.,   1.],
       [  1.,   0.,   1.,   0.,  36.,  11.,   1.],
       [  1.,   0.,   1.,   0.,  34.,  10.,   0.],
       [  1.,   0.,   1.,   0.,  30.,   9.,   0.],
       [  1.,   0.,   1.,   0.,  38.,  12.,   1.],
       [  1.,   0.,   1.,   0.,  90.,  30.,   1.],
       [  1.,   0.,   1.,   0.,  80.,  25.,   1.],
       [  1.,   0.,   1.,   0.,  90.,  35.,   1.],
       [  1.,   0.,   1.,   0.,  60.,  22.,   0.],
       [  1.,   0.,   0.,   1., 105.,  33.,   1.],
       [  1.,   0.,   0.,   1.,  55.,  27.,   0.],
       [  1.,   0.,   0.,   1.,  50.,  44.,   0.],
       [  1.,   0.,   0.,   1.,  58.,  28.,   0.],
       [  1.,   0.,   0.,   1.,  59.,  41.,   0.],
       [  1.,   0.,   0.,   1.,  62.,  55.,   0.],
       [  1.,   1.,   0.,   0.,  70.,  47.,   1.],
       [  1.,   1.,   0.,   0.,  90.,  28.,   1.],
       [  1.,   1.,   0.,   0.,  80.,  27.,   1.],
       [  1.,   1.,   0.,   0.,  88.,  28.,   1.],
       [  1.,   1.,   0.,   0.,  40.,  29.,   0.],
       [  1.,   1.,   0.,   0.,  66.,  32.,   0.],
       [  1.,   1.,   0.,   0.,  56.,  42.,   0.]])

In [75]:
X_l

array([[  0.,   1.,   0.,  30.,  10.,   1.],
       [  0.,   1.,   0.,  36.,  11.,   1.],
       [  0.,   1.,   0.,  34.,  10.,   0.],
       [  0.,   1.,   0.,  30.,   9.,   0.],
       [  0.,   1.,   0.,  38.,  12.,   1.],
       [  0.,   1.,   0.,  90.,  30.,   1.],
       [  0.,   1.,   0.,  80.,  25.,   1.],
       [  0.,   1.,   0.,  90.,  35.,   1.],
       [  0.,   1.,   0.,  60.,  22.,   0.],
       [  0.,   0.,   1., 105.,  33.,   1.],
       [  0.,   0.,   1.,  55.,  27.,   0.],
       [  0.,   0.,   1.,  50.,  44.,   0.],
       [  0.,   0.,   1.,  58.,  28.,   0.],
       [  0.,   0.,   1.,  59.,  41.,   0.],
       [  0.,   0.,   1.,  62.,  55.,   0.],
       [  1.,   0.,   0.,  70.,  47.,   1.],
       [  1.,   0.,   0.,  90.,  28.,   1.],
       [  1.,   0.,   0.,  80.,  27.,   1.],
       [  1.,   0.,   0.,  88.,  28.,   1.],
       [  1.,   0.,   0.,  40.,  29.,   0.],
       [  1.,   0.,   0.,  66.,  32.,   0.],
       [  1.,   0.,   0.,  56.,  42.,   0.]])

In [3]:
s

     fr   tr   us    boy   kilo   yas
0   0.0  1.0  0.0  130.0   30.0  10.0
1   0.0  1.0  0.0  125.0   36.0  11.0
2   0.0  1.0  0.0  135.0   34.0  10.0
3   0.0  1.0  0.0  133.0   30.0   9.0
4   0.0  1.0  0.0  129.0   38.0  12.0
5   0.0  1.0  0.0  180.0   90.0  30.0
6   0.0  1.0  0.0  190.0   80.0  25.0
7   0.0  1.0  0.0  175.0   90.0  35.0
8   0.0  1.0  0.0  177.0   60.0  22.0
9   0.0  0.0  1.0  185.0  105.0  33.0
10  0.0  0.0  1.0  165.0   55.0  27.0
11  0.0  0.0  1.0  155.0   50.0  44.0
12  0.0  0.0  1.0  160.0   58.0  28.0
13  0.0  0.0  1.0  162.0   59.0  41.0
14  0.0  0.0  1.0  167.0   62.0  55.0
15  1.0  0.0  0.0  174.0   70.0  47.0
16  1.0  0.0  0.0  193.0   90.0  28.0
17  1.0  0.0  0.0  187.0   80.0  27.0
18  1.0  0.0  0.0  183.0   88.0  28.0
19  1.0  0.0  0.0  159.0   40.0  29.0
20  1.0  0.0  0.0  164.0   66.0  32.0
21  1.0  0.0  0.0  166.0   56.0  42.0

In [5]:
sonuc3

    cinsiyet
0        1.0
1        1.0
2        0.0
3        0.0
4        1.0
5        1.0
6        1.0
7        1.0
8        0.0
9        1.0
10       0.0
11       0.0
12       0.0
13       0.0
14       0.0
15       1.0
16       1.0
17       1.0
18       1.0
19       0.0
20       0.0
21       0.0

In [6]:
veri

     fr   tr   us   kilo   yas  cinsiyet
0   0.0  1.0  0.0   30.0  10.0       1.0
1   0.0  1.0  0.0   36.0  11.0       1.0
2   0.0  1.0  0.0   34.0  10.0       0.0
3   0.0  1.0  0.0   30.0   9.0       0.0
4   0.0  1.0  0.0   38.0  12.0       1.0
5   0.0  1.0  0.0   90.0  30.0       1.0
6   0.0  1.0  0.0   80.0  25.0       1.0
7   0.0  1.0  0.0   90.0  35.0       1.0
8   0.0  1.0  0.0   60.0  22.0       0.0
9   0.0  0.0  1.0  105.0  33.0       1.0
10  0.0  0.0  1.0   55.0  27.0       0.0
11  0.0  0.0  1.0   50.0  44.0       0.0
12  0.0  0.0  1.0   58.0  28.0       0.0
13  0.0  0.0  1.0   59.0  41.0       0.0
14  0.0  0.0  1.0   62.0  55.0       0.0
15  1.0  0.0  0.0   70.0  47.0       1.0
16  1.0  0.0  0.0   90.0  28.0       1.0
17  1.0  0.0  0.0   80.0  27.0       1.0
18  1.0  0.0  0.0   88.0  28.0       1.0
19  1.0  0.0  0.0   40.0  29.0       0.0
20  1.0  0.0  0.0   66.0  32.0       0.0
21  1.0  0.0  0.0   56.0  42.0       0.0